VITE_SUPABASE_URL=https://ipmszlkhtrqlmyctygin.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlwbXN6bGtodHJxbG15Y3R5Z2luIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA5NzQyNjIsImV4cCI6MjA5NjU1MDI2Mn0.bO7BcdriCbGEn0BUCpETdQo8daMvW2GeXLkUR02oELA
